<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UJMW.DynamicWcfHost.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.6"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ConfigurativeEntryPointModule" type="UJMW.DemoWcfService.EntryModule"/>
    </modules>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.serviceModel>
    <!-- HOSTED SERVICES -->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <!-- 
        ####################################################################################################################################
        # HIER SPIELT DIE MUSIK: Service-Implementierungen werden hier Registriert. Zu jedem vorangestellten Versions-Ornder ('v#/')       # 
        # muss die Serviceimplementierung genau ein Contract-Interface implementieren in dessen Namespace 'V#.' vorkommt!                  #
        # Diese Konvention ist in der angegebenen Factory abgebildet! Zum HOSTEN eines Services ist in dieser Web.Config KEINE weitere     #
        # Konfiguration (Bindings/Behaviors/...) nötig, da sich unsere Factory NICHT für jene Konfigurationsknoten interessiert!           #
        # DIESE SERVICES WERDEN EINMAL PRO SYSTEM GEHOSTED - SERVICES DIE PRO SILO GEBRAUCHT WERDEN GEHÖREN IN DEN BACKENDSERVICE          #
        ####################################################################################################################################
         -->
        <add relativeAddress="docs/swagger.svc" service="UJMW.DemoWcfService.Swagger, UJMW.DemoWcfService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add relativeAddress="Announcement.svc" service="System.Web.UJMW.SelfAnnouncement.AnnouncementTriggerEndpoint, UJMW.DynamicWcfHost" factory="System.Web.UJMW.UjmwServiceHostFactory, UJMW.DynamicWcfHost"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <applicationSettings>
    <UJMW.DynamicWcfHost.Settings>
      <setting name="GracetimeForSetupPhase" serializeAs="String">
        <value>30</value>
      </setting>
    </UJMW.DynamicWcfHost.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>