<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6"/>
    <customErrors mode="Off"/>
    <!--<authorization>
      <allow users="?"/>
    </authorization>-->
  </system.web>
  
  <!--<location path="DemoService.svc">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ConfigurativeEntryPointModule" type="UJMW.DemoWcfService.EntryModule"/>
    </modules>
    <directoryBrowse enabled="true"/>
    <!--<security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>-->
  </system.webServer>
  
  <system.serviceModel>
    
    <!--<bindings>
      <wsHttpBinding>
        <binding bypassProxyOnLocal="true" transactionFlow="true" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" />
          --><!--<security mode="Transport">
            <transport clientCredentialType="Ntlm"/>
          </security>--><!--
        </binding>
        <binding name="WCFWithoutNTLM" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647" bypassProxyOnLocal="true" transactionFlow="true">
          <readerQuotas maxStringContentLength="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>-->
    
    <!--<behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
    
    <!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->    

    <!-- HOSTED SERVICES -->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" >
      <serviceActivations>

        <!-- 
        ####################################################################################################################################
        # HIER SPIELT DIE MUSIK: Service-Implementierungen werden hier Registriert. Zu jedem vorangestellten Versions-Ornder ('v#/')       # 
        # muss die Serviceimplementierung genau ein Contract-Interface implementieren in dessen Namespace 'V#.' vorkommt!                  #
        # Diese Konvention ist in der angegebenen Factory abgebildet! Zum HOSTEN eines Services ist in dieser Web.Config KEINE weitere     #
        # Konfiguration (Bindings/Behaviors/...) nötig, da sich unsere Factory NICHT für jene Konfigurationsknoten interessiert!           #
        # DIESE SERVICES WERDEN EINMAL PRO SYSTEM GEHOSTED - SERVICES DIE PRO SILO GEBRAUCHT WERDEN GEHÖREN IN DEN BACKENDSERVICE          #
        ####################################################################################################################################
         -->
        
        <add relativeAddress="docs/swagger.svc" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                  service=" UJMW.DemoWcfService.Swagger, UJMW.DemoWcfService" />

      </serviceActivations>
    </serviceHostingEnvironment>
    
  </system.serviceModel>
</configuration>
